/*------------------------------
Header Area CSS
-------------------------------*/
.menu-area{
    padding: 30px 0 0;
}
.mega {
    position: static !important;
}
#rs-header .menu-area .navbar ul > li.mega > ul {
    width: 100%;
}
#rs-header .menu-area .navbar ul li.mega ul > li {
    float: left !important;
}

#rs-header .menu-area .navbar ul li.mega ul > li.hides_item > a {
    font-size: 0 !important;
    padding: 0;
    height: 0;
}

#rs-header .menu-area .navbar ul li.three-col ul > li {
    width: 33.33%;
}

#rs-header .menu-area .navbar ul li.two-col ul > li {
    width: 50%;
}

#rs-header .menu-area .navbar ul li.four-col ul > li {
    width: 25%;
}

#rs-header .menu-area .navbar ul li.mega ul li ul.sub-menu {
    display: block;
    width: 100%;
}
#rs-header .menu-area .navbar ul li.mega ul li ul li {
    width: 100% !important;
    float: none !important;
    margin:0;
}
.menu-area .navbar ul li.mega ul.sub-menu {
    //min-width: 221px;
}
#rs-header .menu-area .navbar ul li.mega ul li ul li a{
    margin: 0 20px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#rs-header .menu-area .navbar ul li.mega ul li ul li:last-child a{
    border: none;
}
#rs-header .menu-area .navbar ul li.mega ul li ul li{
    border: none;
}
.menu-area .navbar ul li ul li ul.sub-menu{
    border: none;
}

.menu-area .navbar ul li.mega{
    padding: 0 !important;
}

.menu-area .navbar ul li.mega a{
    position: relative;
    padding: 0 10px;
}
.menu-area .navbar ul li.mega ul li.menu-item-has-children > a:before {
    display: none !important;
}

.rs-blog-details{
    .author-block{
        border: none;
        background: @primary-color;
        color: @global-color;
        .author-desc{
            .author-web{
                &:hover{
                    color: @primary-color !important;
                }
            }
        }
    }
    .bs-desc{
        line-height: 30px
    }
}

.rs-events2 .event-item-inner + .event-item-inner{
    margin-top: 20px;
}

.menu-area{
    .navbar{
        ul{
            li.menu-item-has-children{
                .sub-menu{
                    a::before{
                        right: 10px !important;
                        top: 6px !important;
                    }
                }
            }
            li.left{
                .sub-menu{
                    li{
                        .sub-menu{
                            left: -100% !important;
                        }
                    }
                }
            }
        }
    }
}
#rs-header .menu-area .navbar ul > li.mega > ul > li > a {
    font-size: 15px;
    text-transform: uppercase;
    cursor: auto;
    color: #fff !important;
    padding: 12px 14px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    margin: 0 20px !important;
}
#rs-header .menu-area .navbar ul > li.mega > ul > li > a:hover {
    margin-left: 0;
}
.menu-area .navbar ul li.mega ul.sub-menu li + li {
    border: none !important;
}
.toolbar-sl-share{
        display: inline-block;
        float: right;
}
.toolbar-login-btn{
    display: inline-block;
    margin-right: 15px;
    float: right;
    ul{
        margin: 0;
        li{
            list-style: none;
        }
    }
}
.heading-12-about{
    .description{
        p{
            margin-bottom: 26px;
        }
    }
}

.description{
    ul{
        list-style: none;
        margin:0;     
        flex-wrap: wrap;
        display: flex;   
        padding-top: 0px;  
        li{
            flex-basis: 34%; 
            position: relative;
            padding-left: 24px;
            padding-bottom: 7px;
            &:before{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                content: "\f05d";
                font-family: FontAwesome;
                color: @primary-color;
                transition: all .5s ease;
            } 
        }        
    }
}


@media screen and(min-width: 991px){
    .toolbar-sl-share,
    .toolbar-login-btn{       
        float: right;
    }
}

#rs-header {
    .toolbar-area {
        position: relative;
        z-index: 9;
        background: @title-color;
        &.transparent{
            background: transparent;
            color: @global-color;
            .border-bottom{
                border-bottom: 1px solid rgba(222, 226, 230, .6);
                padding-top: 7px;
            }
            .toolbar-contact{
                ul{
                    li{
                        a{
                            color: @global-color;
                        }
                    }
                }
            } 

            .toolbar-contact ul li i{
                color: @primary-color;
            }
            .toolbar-sl-share{
                ul{
                    li{
                        a{
                            color: @primary-color;
                            background: #f2f2f2;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .toolbar-sl-share ul li+li{
                margin-left: 5px;
            }
            .toolbar-login-btn{
                a{
                    color: @global-color;
                    &:hover{
                        color:@primary-color;
                    }
                    i{
                        color: @primary-color;
                    }
                }
            }                       
        }

    }

    &.header-style2 {
        .toolbar-contact-style4 {
            position: relative;
            top: 10px;
            ul li{
                margin-right: 10px;
            
                &:last-child{
                    margin-right: 0;
                }
                i:before {
                    margin-left: 16px;
                }
            }
        }
        .sticky_search {
            text-align: right;
            .rs-search {
                display: inline-block;
                height: 60px;
                line-height: 60px;
                width: 60px;
                text-align: center;
                background: @primary-color;
                color: #fff;
                font-size: 19px;
            }
        }
        .sticky_form {
            position: absolute;
            width: 290px;
            right: 15px;
            .menu_search {
                [type="search"] {
                    border: 1px solid #e5e5e5;
                    padding: 16px 20px; 
                    outline: none;
                    border-radius: 35px;                  
                }
                button {
                    top: 50%;
                    transform: translateY(-50%);
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
        .menu_one{            
            position: relative;
            top: 30px;
            z-index: 111;
            transition: 0.3s ease;
            min-height: 30px;
            background: @title-color;
        }
        .menu-area {
            .navbar .menu-main-menu-container > ul > li {
                height: 60px;
                line-height: 60px;
                &:first-child {
                    padding-left: 25px;
                }
            }
            .navbar {
                padding: 0;
            }
            .menu-offcanvas {
                margin-right: 15px;
                .get-quote {
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    padding: 0 25px;
                    .quote-button {
                        display: inline-block;
                        position: relative;
                        padding-right: 12px;
                        margin-right: 10px;
                        line-height: inherit;
                        &:after {
                            right: 0;
                        }
                    }
                    .nav-link-container {
                        display: inline-block;
                        line-height: inherit;
                    }

                }

            }
        }
        .menu-responsive{
            padding-right: 0;
        }
        .menu-offcanvas{
            padding-left: 0;
        }
        .sticky {
            .menu-area {
                padding: 0;
                background: @title-color;
            }
            .menu-middle {
                display: none;
            }
            .menu_one {
                top: 0;
            }
        }
    }

    &.header-styl-3 {
        position: absolute;
        .sticky_search {
            display: inline-block;
            margin-left: 20px;
            padding-left: 20px;
            border-left: 1px solid #ccc;
            line-height: 12px;
            &.active {
                .rs-search {
                    i:before {
                        content: "\f010";
                    }
                }
            }
        }
        .toolbar-area{
            opacity: 1;
            background: transparent;
            border-bottom: 1px solid rgba(255,255,255,0.15);
        }
        .sticky_form {
            position: absolute;
            width: 100%;
            max-width: 320px;
            right: 0;
            .menu_search {
                [type="search"] {
                    border: 1px solid #e5e5e5;
                    padding: 16px 20px; 
                    outline: none;
                    border-radius: 35px;                  
                }
                button {
                    top: 50%;
                    transform: translateY(-50%);
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
        .rs-breadcrumbs .container {
            top: auto;
            bottom: 0;
        }           
        .menu-area{
            padding: 0;
            background: transparent;
            opacity: 1;
            .logo-area{
                padding: 26px 0;
            }
            .navbar {
                padding: 0;
                .navbar-menu {
                    margin-left: auto;
                }
                ul {
                    text-align: right;
                    li{
                        line-height: 94px;
                        height: 94px;
                        a {
                            &:hover {
                                color: @primary-color !important;
                            }                          
                        }
                        ul{
                            padding-right: 0;
                            li{
                                height: auto;
                            }
                        }
                    }
                }
                .menu {
                    > li {
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
            .menu-responsive{
                position: relative; 
                z-index: 9;
                .nav-link-container{
                    position: absolute;
                    right: 15px;
                    top: 0;
                    height: 100%;
                    line-height: 93px;
                    a{
                        color: @global-color;
                    }
                }
            }
            .toggle-btn{
                background-color: transparent;
                cursor: pointer;
                display: inline-block;
                margin-left: 25px;
                display: none;
                .border-icon{
                    display: block;
                    height: 2px;
                    margin-bottom: 5px;
                    width: 25px;
                    position: relative;
                    -webkit-transition: all 0.4s ease-in-out 0s;
                    transition: all 0.4s ease-in-out 0s;
                    background: @white-color;
                    z-index: 11;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                &:hover {
                    .border-icon{
                        background: @primary-color;
                    }
                }
                &.active{
                    top: 40px;
                    .border-icon{
                        background: @primary-color;
                        &:nth-child(1){
                            top: 9px;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                        } 
                        &:nth-child(2){
                            opacity: 0;
                            visibility: hidden;
                        }
                        &:nth-child(3){
                            top: -5px;
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
        .sidebarmenu-area{
            .sticky_search,
            .nav-link-container{
                color: #fff;
            }
            .sticky_search{
                &:after{
                    background: #fff;
                }
            }
        }
        .menu-area {
            .navbar ul li.mega a::before{
                right: 7px;
            }
        }
        .sticky {
            .menu-area {
                padding-top: 0;
                background: @title-color;
                .logo-area:not(.sticky-logo) {
                    display: block !important;
                }
                .sticky-logo {
                    display: none !important;
                }
            }
            .menu-middle {
                display: none;
            }
            .menu_one {
                top: 0 !important;
            }
        }
        .has-quote-text {
            display: block;
            text-align: right;
            .navbar {
                display: inline-block;
            }
            .get-quote {
                display: inline-block;
                margin-left: 20px;
                border-radius: 35px;
                .quote-button {
                    line-height: 43px;
                    padding: 0 28px;
                }
            }
        }
    }
    &.header3_transparent_style{
        .container-fluid{
            padding-left: 30px;
            padding-right: 30px;
        }
        .sticky_search{
            border-color: #ec9e93;
            a{
                color: #fff;
            }
        }
    }

    .sidebarmenu-area{
        .sticky_search{
            padding-right: 15px;
        }
        .nav-link-container{
            padding-left: 8px;
        }
        .sticky_form{
            position: absolute;
            top: 100%;
            right: 15px;
            z-index: 11;
            width: 320px;
            [type="search"] {
                padding: 16px 20px;
            }
            button {
                padding: 13px 12px;
                font-size: 17px;
            }
        }
        .sticky_search{
            position: relative;
            &:after{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                right: 0;
                width: 2px;
                height: 13px;
                background: #444;
                content: "";
            }
        }
        .sticky_search,
        .nav-link-container a{
            cursor: pointer;
            &:hover{
                color: @primary-color;
            }
        }
    }

    &.header-style-4 {
        .logo-area{
            text-align: center;
            float: none;
        }
        .menu-area .navbar ul {
            text-align: center;
            li > a {
                &:hover{
                    color: @primary-color !important;
                }
            }
        }
        .navbar .menu-main-menu-container > ul > li {
            height: 55px;
            line-height: 55px;
            &:first-child {
                padding-left: 0;
            }
        }
        .menu-responsive{
            position: relative;
            z-index: 9;
        }
        .fullwidth_menu{
            margin-top: 27px;
            background: @title-color;
            .navbar {
                padding: 0;
            }
        }
        .sidebarmenu-area{
            .sticky_search,
            .nav-link-container {
                display: inline-block;
                padding: 0;
                margin-left: -4px;
                a {
                    height: 55px;
                    line-height: 55px;
                    display: inline-block;
                    cursor: pointer;
                    width: 45px;
                    text-align: center;                    
                }
                &:after {
                    display: none;
                }
            }
            .sticky_search {
                a {
                    color: #fff;
                    background: @primary-color;
                    &:hover {
                        background: @hover-color;
                    }
                }
            }
            .nav-link-container {
                a {
                    color: #fff;
                    background: @hover-color;
                    &:hover {
                        background: @primary-color;
                    }
                }
            }
        }
    }

    &.header-styl-5{
        .menu-area .navbar ul {
            li > a {
                color: @title-color !important;
                &:hover{
                    color: @primary-color !important;
                }
            }
        }
    }
}

.t-con-inner {
    i {
        float: left;
        width: 40px;
        margin-right: 0;
        font-size: 38px;
        color: @primary-color;
    }
    .contact-inf {
        float: left;
        text-align: left;
        margin-left: 17px;
        span {
            color: @title-color;
            display: block;
            text-align: left;
            font-size: 17px;
            padding: 0;
            font-weight: 700;
            line-height: 17px;
        }
        a {
            color: @body-color;
            &:hover {
                color: @primary-color;
            }
        }
    }
}

#rs-header.header-style1 .header-inner .toolbar-area {
   border: none;
}

#rs-header {
    .container-fluid{
        padding-left: 100px;
        padding-right: 100px;
    }
    &.style6{
        position: absolute;
        .header-style-6{
            justify-content: space-between;
            align-items: center;
        }
        .menu-area{
           padding-top: 0;
            get-quote .quote-button{
                font-size: 14px;
            }
        }
        .header-6-last{
            display: flex;
            align-items: center;
            position:relative;
            .sticky_form{
                position: absolute;
                right: 0;
                top: 110%;
                width: 300px;
                .search-input{
                    border-radius: 30px;
                    padding: 13px 41px 13px 25px;
                }
                .bs-search button{
                    right: 5px;
                }
            }
            .get-quote{
                border-radius: 35px;
                margin-left: 20px;
                a{
                    line-height: 40px;
                    height: auto;
                    padding: 0 20px;
                    font-size: 14px;
                }
            }
        }
        .navbar ul li{
            padding: 0 20px;
        }
    }
     &.style7{       
        .header-style-6{
            justify-content: space-between;
            align-items: center;
        }
        .category-menu{
            ul{
                li{
                    a{
                        position: relative;
                        padding-left: 25px;
                        &:before{
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 0;
                            content: "\f00a";
                            font-family: FontAwesome;
                            color: @title-color;
                            transition: all .5s ease;
                        }
                    }
                    ul{
                        li{
                            a{
                                &:before{
                                    display:none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .menu-area{
           padding: 20px 0;
            get-quote .quote-button{
                font-size: 14px;
            }
            .navbar{
                ul{
                    li{
                       > a{
                            color:@title-color !important;
                        }
                    }
                }
                
            }           

        }
        .header-6-last{
            display: flex;
            align-items: center;
            position:relative;
            .sticky_form{
                position: absolute;
                right: 0;
                top: 110%;
                width: 300px;
                z-index: 1;
                .search-input{
                    border-radius: 30px;
                    padding: 13px 41px 13px 25px;
                }
                .bs-search button{
                    right: 5px;
                }
            }
            .get-quote{
                height: 44px;
                border-radius: 35px;
                margin-left: 20px;
                a{
                    line-height: 44px;
                    height: auto;
                    padding: 0 20px;
                }
            }
        }
        .navbar ul li{
            padding: 0 20px;
        }
        .bs-search{
            width: 330px;
            input{
                max-width: 330px;
                padding: 15px 20px;
                border-radius: 30px;
            }
            button{
                background: 0 0!important;
                border: none;
                color: rgba(204, 204, 204, 0.67);
                padding: 8px 11px;
                position: absolute;
                right: 8px;
                top: 2px;
                z-index: 999;
                font-size: 20px;
                outline: 0;
            }
        }
    }
    &.style1, &.kids-header {
        .sticky_search {
            display: inline-block;
            margin-left: 10px;
            padding-left: 10px;
            line-height: 12px;
            &.active {
                .rs-search {
                    i:before {
                        content: "\f010";
                    }
                }
            }
        }
        .sticky_form {
            position: absolute;
            width: 100%;
            max-width: 320px;
            right: 0;
            .menu_search {
                [type="search"] {
                    border: 1px solid #e5e5e5;
                    padding: 16px 20px; 
                    outline: none;
                    border-radius: 35px;                  
                }
                button {
                    top: 50%;
                    transform: translateY(-50%);
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
        .rs-breadcrumbs .container {
            top: auto;
            bottom: 0;
        }           
        .menu-area{
            padding: 0;
            .logo-area{
                a{
                    line-height: 98px;
                }
            }
            .navbar {
                padding: 0;
                .navbar-menu {
                    margin-left: auto;
                }
                ul {
                    text-align: right;
                    li{
                        line-height: 99px;
                        height: 99px;
                        a {
                            color: @global-color;
                            &:hover {
                                color: @primary-color !important;
                            }                          
                        }
                        ul{
                            padding-right: 0;
                            li{
                                height: auto;
                                a{
                                    color: #bbb;
                                    &:hover {
                                        color: @primary-color;
                                    }
                                }
                                &.current_page_item{
                                    a{
                                        color: @primary-color;
                                    }
                                }
                            }
                        }
                    }
                }
                .menu {
                    > li {
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
            .menu-responsive{
                position: relative; 
                z-index: 9;
                display: block;
                text-align: right;
                .navbar{
                    display: inline-block;
                }
                .nav-link-container{
                    position: absolute;
                    right: 15px;
                    top: 0;
                    height: 100%;
                    line-height: 93px;
                    a{
                        color: @global-color;
                    }
                }
            }
        }
        .sidebarmenu-area{
            .sticky_search,
            .nav-link-container{
                color: #fff;
            }
            .sticky_search{
                &:after{
                    background: #fff;
                }
            }
        }
        .menu-area {
            .navbar ul li.mega a::before{
                right: 7px;
            }
        }
        .sticky {
            .menu-area {
                padding-top: 0;
                background: transparent;
            }
            .menu-middle {
                display: none;
            }
            .menu_one {
                top: 0 !important;
            }
        }
        .has-quote-text {
            display: block;
            text-align: right;
            .navbar {
                display: inline-block;
            }
            .get-quote {
                display: inline-block;
                margin-left: 20px;
                border-radius: 35px;
                .quote-button {
                    line-height: 33px;
                    padding: 0 15px;
                    font-size: 13px;
                }
                &:hover{
                    background-color: @hover-color;
                }
            }
        }
    }
}

/* Single Header Css */
#rs-header.style1, #rs-header.kids-header{
    .menu-area{
        &#single-menu{
             .navbar{
                 ul{
                     li{
                        &:hover,
                        &.active{
                            a{
                                color: @primary-color !important;
                            }
                        }
                     }
                 }
             }
        }
    }
}