.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce .wc-forward, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt, .woocommerce button.button.alt, 
.woocommerce input.button.alt{    
    border: 1px solid @primary-color;
    padding: 11px 22px !important;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500 !important;
    background: @primary-color !important;
    color: #fff;
    border-radius: 30px !important;
    &:hover{
    	background: transparent !important;	
    	color: @title-color;
    }

}
.woocommerce #review_form #respond textarea{
    border: 1px solid rgba(54, 54, 54, 0.1);
}
.wc-forward{
	&:hover{
		background: transparent !important;
		color: @title-color;
	}
}
.woocommerce .woocommerce-ordering select {
    vertical-align: top;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	text-align: center;
}

ul.products{
    .star-rating{
        width: 66px;
        margin: 2px auto 5px !important;
    }   
}

.woocommerce .star-rating span::before, 
.woocommerce .star-rating::before{
    color: @primary-color !important;
}
.woocommerce ul.products{
	li{
		padding: 0 0 25px !important;
	    position: relative !important;
	    overflow: hidden;
	    text-align: center;
	    transition: all 0.3s ease 0s;
	    margin-bottom: 15px !important;
		img{
			margin-bottom: 0 !important;
			position: relative;
            width: 100%;			
		}
		.woocommerce-loop-product__title{
			font-size: 20px !important;
			padding-bottom:0px !important;
			a{
				color: @title-color;
			}
		}
		.button{
			margin-top: 5px !important
		}


























		&:hover{
			background: #f5f5f5;
			a{
				background:transparent !important;
    			color: @title-color;
			}
			.wc-forward{
				background: transparent !important;
				color: @title-color;
			}			
		}

	}
}

.related{
    .star-rating::beforee{
         top: 50% !important; 
         right: 50% !important;
        transform: translate(50%,-50%)
    }
}
.woocommerce .star-rating span::before{
    color: @primary-color
}




/* ------------------------------------
    29. Shop Page Start Here 
---------------------------------------*/
.woocommerce ul.products {
    &.single-product-page {
        padding: 100px 0 0;
    }
    li.product {
        padding: 0;
        position: relative;
        overflow: hidden;
        text-align: center;
        transition: @transition;
        margin-bottom: 0;
        .triangle_left{
            width: 0;
            height: 0;
            border-top: 70px solid transparent;
            border-right: 140px solid @primary-color;
            border-bottom: 70px solid transparent;
            position: absolute;
            top: -75px;
            left: -117px;
            transform: rotate(48deg);
            opacity: 0;
        }
        &:hover {
            background:#f5f5f5;
            .triangle_left{
                opacity: 1;
            }
            h3 {
                a {
                    color: @primary-color;
                }
            }
            .add-to-cart{
                background: @primary-color;
                color: #fff !important;
            }
            .images-product .overley {
                opacity: 1;
                transform: scaleY(1);
            }
        }
        .images-product {
            position: relative;
            overflow: hidden;
            margin-bottom:15px;
            a {
                display: block;
                img {
                    transition: all .3s ease-out;
                    width: 100%;
                }
            }
            .overley {
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .6);
                top: 0;
                transform: scaleY(0);
                transform-origin: 0 1 0;
                opacity: 0;
                transition: @transition;
                padding: 30px;
                .winners-details {
                    padding: 0;
                    h4 {
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                        color: #ffffff;
                        font-size: 18px;
                        position: relative;
                        &:after {
                            display: none;
                        }
                    }
                    .product-info {
                        margin: 0;
                        padding: 0px;
                        list-style: none;
                        top: 55%;
                        position: absolute;
                        transform: translateY(-55%);
                        transition: all .9s;
                        text-align: center;
                        left: 0;
                        right: 0;
                        ul{
                        	padding:0;
                        	margin: 0;
                        	li {
	                            display: inline-block;
	                            margin: 0 !important;
	                            padding: 0 !important;
	                            vertical-align: top;
	                            a {
	                                color: #ffffff;
	                                text-transform: capitalize;
	                                text-decoration: none;
	                                width: 30px;
	                                height: 30px;
	                                line-height: 30px;
	                                border: 1px solid #ffffff;
	                                text-align: center;
	                                transition: @transition;
	                                border-radius: 0;
	                                &:hover {
	                                    color: @primary-color;
	                                    border: 1px solid @primary-color;
	                                }
	                                i {
	                                    font-size: 16px;
	                                    margin: 0;
	                                    transition: @transition;
	                                    &:hover {
	                                        color: @primary-color;
	                                    }
	                                }
	                            }
	                            .yith-wcwl-add-to-wishlist{
	                            	margin-top: 0;
	                            }
	                            &:hover{
	                            	background: none;
	                            }
	                        }
                        }
                    }
                    p {
                        margin-bottom: 5px;
                        color: #ffffff;
                        font-size: 13px;
                        i {
                            color: #ffffff;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
        h4{
            margin-bottom: 10px !important;
            margin-left: 0;
            font-weight: 700;
            a {
                color: @title-color;
                transition: @transition;
                font-size: 20px;
                margin: 0;
                &:hover {
                    color: @primary-color;
                }
            }
        }
        .price-details {
            ul {
                margin: 0;
                padding: 0;
                text-align: center;
                li {
                    display: block;
                    &:first-child {
                        font-weight: 600;
                        font-size: 15px;
                        del {
                            margin-right: 5px;
                            font-weight: 400;
                            font-size: 15px;
                        }
                    }
                    .add-to-cart{
                        border: 1px solid @primary-color;
                        padding: 8px 18px;
                        color: @title-color;
                        font-size: 15px;
                        font-weight: 600;
                        display: inline-block;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .topbar-area {
        overflow: hidden;
        padding-bottom: 54px;
        .showing-Short{
            .seclec-box{
                float: right;
            }
        }
        .showing-result {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: left;
                li {
                    display: inline-block;
                    font-weight: 400;
                    color: @body-color;
                    margin-right: 0;
                    font-size: 14px;
                    height: 25px;
                    .form-group {
                        margin: 0;
                        &.seclect-box {
                            select {
                                &.form-control {
                                    display: inline-block;
                                    border: 0;
                                    background: transparent;
                                    border-radius: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pagination{
        margin-top: 0;
    }
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price{
	color: @primary-color !important;
	font-size: 15px !important;
	font-weight: 600;
    ins{
       color: @primary-color !important;
    }
}
.woocommerce .quantity .qty{
	height: 40px !important;
    width: 70px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3{
	font-size: 16px;
}

.woocommerce-form-login{
    .woocommerce-Button{
        margin-right: 12px !important;
    }
}

.woocommerce .woocommerce-ordering{
	margin: -10px 0 2em;
}
.woocommerce a.remove{
    margin:0 auto;
}

.coupon{
	input#coupon_code{
		width: 140px !important;
		border-radius: 30px;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  	color: @title-color !important;
	  	font-size: 14px !important;
	  	font-weight: 500 !important;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  	color: @title-color !important;
	  	font-size: 14px !important;
	  	font-weight: 500 !important;
	}
	:-ms-input-placeholder { /* IE 10+ */
	 	color: @title-color !important;
	  	font-size: 14px !important;
	  	font-weight: 500 !important;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: @title-color !important;
	  	font-size: 14px !important;
	  	font-weight: 500 !important;
	}
}

.single-product{
	.bs-info{
		display: none;
	}
	.bs-img{
		display: none;
	}
	.bs-desc{
		margin-top: 0px !important;
	}
}
.woocommerce-message,
.woocommerce-error, 
.woocommerce-info, 
.woocommerce-message{
	border-top-color: @hover-color;
}
.woocommerce-message::before,
.woocommerce-info::before{
	color: @hover-color;
}

.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
    width: 110px;
    height: 40px;
    text-align: center;
}


.select2-container--default .select2-selection--single {  
    border: 1px solid #ccc;
    border-radius: 0;
    height: 40px;
    line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top:8px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 37px
}

input[type="tel"]{
    padding: 10px 14px;
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(54, 54, 54, 0.1);
}
.woocommerce-form__label{
	span{
		padding-left: 5px;
	}
	.input-checkbox{
		margin: 7px 0 0 !important;
	}
}

body.woocommerce-page{
	input[type="text"],input[type="number"],input[type="password"],input[type="email"], .select2-container--default .select2-selection--single,
	.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select{    
	    border: 1px solid rgba(54, 54, 54, 0.1);
	    height: 45px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
	    color: @body-color;
	    opacity: .5;
	}
}
.woocommerce-cart-form{
	table.shop_table{
		border: none !important;	
        border-collapse: collapse;
		td, th{
			padding: 25px;
            text-align: center;
		}
	}
}
.woocommerce table.shop_table{
    border-collapse: collapse !important
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    padding-top: 40px;
}
.cart_totals {
    h2{
        text-transform: capitalize;
    }
    table.shop_table th,
    table.shop_table td{
        padding: 20px
    }
}
.woocommerce-tabs{
	h2{
		font-size: 20px;
	}
}
.related.products{
	h2{
		font-size: 20px;
	}
}
.single-product{
	.summary.entry-summary{
		h1.product_title.entry-title{
			font-size: 25px !important;
			line-height: 25px !important;
		}
	}
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img{
	width: 50px !important
}

.cart-collaterals{
	th, td{
		border: none !important;
		border-bottom: 1px solid rgba(0,0,0,.1) !important
	}
	tr:last-child{
		td, th{
			border-bottom: none !important
		}
		
	}
	
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
	max-width: 100%
}

.woocommerce{
	.form-row{
		display: block;
	}
	.add_to_cart_button {
		transition: 0.3s ease all;
		&:after {
			font-size: inherit !important;
			vertical-align: initial !important;
		}
		&.added {
			display: none !important;
			opacity: 0;
		}
		&.loading {
			padding-right: 40px !important;
			&:after {
				top: 12px !important;
				right: 15px !important;
				font-size: inherit !important;
			}
		}
	}
}

h3#order_review_heading{
	margin-top: 60px;
	padding: 0 15px;
}
#order_review{
	padding: 0 15px;
}

textarea{
	&.input-text{
		border: 1px solid #ccc;
	}
}

.button.yith-wcqv-button{
	display: none !important;
}

//Course Archive CSS
.post-type-archive{
    .learn-press-courses {
        .course {
            .course-title{
                    display: none !important;
             }
        }
    }
}





















.related-courses.rs-courses-3 {
    .course-item {
        margin-bottom: 30px;
        border: 1px solid #dddddd;
        transition: all 0.35s ease 0s;
        .course-img {
            position: relative;
            margin: -1px -1px 0 -1px;
            &:before {
                background: rgba(0, 0, 0, 0.5);
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
                background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -webkit-transition: all 1s ease;
                transition: all 1s ease;
            }
            img {
                width: 100%;
            }
            .course-value {
                position: absolute;
                bottom: -30px;
                right: 22px;
                height: 60px;
                width: 60px;
                line-height: 60px;
                text-align: center;
                background-color: @primary-color;
                color: #ffffff;
                font-size: 14px;
                font-weight: 600;
                border-radius: 50%;
            }
        }
        .course-toolbar {
            position: absolute;
            width: 100%;
            bottom: 15px;
            padding: 0 20px;
            .course-category {
                margin-bottom: 3px;
                a {
                    font-size: 24px;
                    color: #ffffff;
                    &:hover{
                        color: @primary-color;
                    }
                }
            }
            .course-date, 
            .course-duration {
                display: inline-block;
                font-size: 14px;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 600;
                i {
                    margin-right: 3px;
                }
            }
            .course-duration {
                margin-left: 12px;
            }
        }
        .course-body {
            .course-author{
                margin-top: -28px;
                position: relative;
                overflow: hidden;
                padding: 0 15px;
                margin-bottom: 0;
                .course_author_img{
                    background: #fff;
                    padding: 5px;
                    border-radius: 50%;
                    border: 2px solid @primary-color;
                    z-index: 10;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    margin: 0 auto;
                    img{
                        width: auto;
                        border-radius: 50%;
                    }
                }
                .author-contain{
                    text-align: center;
                    .course-price{
                        text-align: center;
                        color: @primary-color;
                        font-weight: 500;
                        z-index: 1;
                        margin: 11px 0 0;
                    }
                }
            }
            .course-title {
                font-size: 18px;
                margin-bottom: 7px;
                padding: 0 15px 10px;
                text-align: center;
                line-height: 25px;
                min-height: 70px;
                a {
                    color: #212121;
                    &:hover {
                        color: @primary-color;
                    }
                }
            }
            .course-desc {
                padding: 20px;
                p {
                    margin-bottom: 0;
                    transition: all 0.35s ease 0s;
                }
            }
        }
        &:hover {
            .course-img {
                &:before {
                    background: rgba(0, 0, 0, 0.5);
                    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
                    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
                    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
                }
            }
            box-shadow: 0 6px 40px rgba(0, 0, 0, 0.1);
        }
    }
    .course-meta{
        padding: 15px 20px;
        background-color: #f0f0f0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        font-weight: 600;
        font-size: 15px;
        margin: 0;
        .course-students, .course-comments-count{
            margin: 0;
            padding:0;
        }
        .course-comments-count{
            i{
                padding:0 7px;
                color: @primary-color;
            }
        }
        .course-students{
            i{
                padding:0 4px 0 0;
                color: @primary-color;
            }
        }
        .course-button {
            a {
                color: #505050;
                display: inline-block;
                position: relative;
                padding-right: 12px;
                &:hover {
                    color: @primary-color;
                }
                &:after {
                    font-family: fontAwesome;
                    content: "\f101";
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
    .view-more {
        bottom: auto;
    }
    .owl-carousel .owl-item img{
        width: auto;
    }
}

body.learnpress{
    .user-tab{
        float: left;
        width: 20%;
        .user-information{
            .author-name{
                text-align: center;
                margin: 15px 0 0;
                text-transform: capitalize;
                span{
                    display: block;
                    font-size: 15px;
                    line-height: 20px;
                    color: #555;
                }
            }
            ul{
                padding: 20px 10px;
                text-align: center;
                margin: 0;
                li{
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;
                    background-color: #f0f0f0;
                    margin-right: 2px;
                    margin-bottom: 4px;
                    border-radius: 2px;
                    transition: all 0.3s ease 0s;
                    &:hover{
                        background:@primary-color;
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .profile-tabs{
        float: left;
        width: 80%;
        padding-left: 50px;
        #profile-content-wishlist{
            .course-title{
                font-size: 20px;
                margin: 20px 0;
                h3{
                    margin: 20px 0;
                    font-size: 20px;
                }
            }
            .course-wishlist{
                color: #fff;
            }
        }
        .profile-orders{
            table{
                tr{
                    th{
                        background: @primary-color;
                    }
                    td{
                        a{
                            color: @title-color;
                            &:hover{
                                color: @primary-color;
                            }
                        }
                        span.lp-label{
                            background: @primary-color;
                        }
                    }
                }
            }
        }
        button{
            color: #fff;
            border-radius: 30px;
        }
        select{
            height: 40px;
            width: 100%;
        }
        input, textarea{
            border: 1px solid rgba(54, 54, 54, 0.1);
        }
        ul.nav-tabs{
            margin: -8px 0 30px;
            padding: 0;
            li{
                margin: 0 30px 0 0;
                padding-bottom: 6px;
                position: relative;
                a{
                    color: @title-color;
                }
                &.active{
                    position: relative;
                    &:before{
                        content:"";
                        position: absolute;
                        bottom: -2px;
                        width: 100%;
                        height: 4px;
                        background: @primary-color;
                        left: 0; 
                        display: block;                       
                    }
                    a{
                        color: @primary-color;
                    }
                }
                &:hover{
                    a{
                        color: @primary-color;
                    }
                    &:before{
                        content:"";
                        position: absolute;
                        bottom: -2px;
                        width: 100%;
                        height: 4px;
                        background: @primary-color;
                        left: 0;
                        display: block;
                    }
                }
            }
        }
        ul.lp-tab-sections{
            margin: -8px 0 30px;
            padding: 0;
            li{
                margin: 15px 0 8px;
                padding-bottom: 0;
                position: relative;
                border: none;
                a{
                    color: @title-color;
                }
                span{
                    border: none !important;
                    padding-bottom: 8px;
                }
                &.active{
                    position: relative;
                    &:before{
                        content:"";
                        position: absolute;
                        bottom: -8px;
                        width: 100%;
                        height: 4px;
                        background: @primary-color;
                        left: 0;
                        display: block;
                    }
                    span{
                        color: @primary-color;
                    }
                }
                &:hover{
                    a{
                        color: @primary-color;
                    }
                    &:before{
                        content:"";
                        position: absolute;
                        bottom: -8px;
                        width: 100%;
                        height: 4px;
                        background: @primary-color;
                        left: 0;
                        display: block;
                    }
                }
            }
        }
    }
    #learn-press-profile-content{
        float: none;
        width: 100%;
        margin-top: 0;
        overflow: hidden;
    }
    .learn-press-subtab-content{
        .profile-heading{
            margin: 0 0 15px;
        }
        ul.lp-sub-menu{
            margin: -8px 0 20px;
            padding: 0;
            li{
                margin: 10px 10px 8px 0;
                padding-bottom: 0;
                position: relative;
                border: none;
                a{
                    color: @title-color;
                }
                span{
                    position: relative;
                    &:before{
                        content:"";
                        position: absolute;
                        bottom: -8px;
                        width: 100%;
                        height: 4px;
                        background: @primary-color;
                        left: 0;
                        display: block;
                    }
                }
                &:hover{
                    a{
                        color: @primary-color;
                    }
                    &:before{
                        content:"";
                        position: absolute;
                        bottom: -8px;
                        width: 100%;
                        height: 4px;
                        background: @primary-color;
                        left: 0;
                        display: block;
                    }
                }
            }
        }
        .learn-press-courses{
            li{
                &:hover{
                    .course-thumbnail{
                        img{
                            opacity:.9;
                        }
                    }
                    .course-title{
                        color: @primary-color;
                    }
                }
            }
        }
        tr{
            th{
                background: @primary-color;
            }
            td{
                a{
                    color: @title-color;
                    &:hover{
                        color: @primary-color;
                    }
                }
                span.lp-label{
                    background: @primary-color;
                }
            }
        }
    }
}

body.login-form-body{
    .learn-press-user-profile{
        .profile-tabs{
            padding: 0;
            width: 100%;
            .learn-press-form{
                width: 50%;
                float: left;
                padding: 0 !important;
                border: none !important;
            }
            .learn-press-form-login{
                padding-right: 40px !important;
                border-right: 1px solid #eee !important;
                padding-bottom: 20px !important;
            }
            .learn-press-form-register{
                padding-left: 40px !important;
            }
        }
    }
}

#course-reviews{
    .course-reviews-list{
        li{
            background: none !important;
            border: none !important;
            padding: 0 0 24px !important;
            margin-bottom: 30px !important;
            border-bottom: 1px solid #ddd !important;
            .review-author-info{
                float: left;
                h4{
                    margin: 0;
                    text-transform: capitalize;
                }
                .review-title{
                    margin-top: 0;
                }
            }
            &:last-child{
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
                border-bottom: none !important;
            }
        }
    }
}



/* ------------------------------------
    12. Upcoming Events
---------------------------------------*/

.rs-events {
    .event-item {
        .event-img {
            margin-bottom: 0;
        }
        .events-details{
            padding: 20px 27px 27px;
        }
        .event-date {
            font-size: 14px;
            font-weight: 500;
            i {
                font-size: 13px;
                display: inline-block;
                margin-right: 5px;
                color: @primary-color;
            }
            span {
                color: #505050;
            }
        }
        .event-title {
            font-size: 20px;
            margin-bottom: 5px;
            margin-top: 4px;
            text-transform: capitalize;
            a {
                color: #212121;
                &:hover{
                    color: @primary-color;
                }
            }
        }
        .event-meta {
            font-size: 14px;
            > div {
                display: inline-block;
                i {
                    font-size: 14px;
                    display: inline-block;
                    margin-right: 3px;
                    color: @primary-color;
                }
            }
            .event-time {
                margin-right: 10px;
            }
        }
        .event-btn {
            margin-top: 18px;
            a {
                display: inline-block;
                margin-left: auto;
                padding: 4px 20px;
                font-size: 13px;
                font-weight: 500;
                text-decoration: none;
                background-color: #ff3115;
                color: #fff;
                border-radius: 35px;
                text-transform: uppercase;
                &:hover{
                    background: @hover-color;
                }           
            }
        }
    }
}


.rs-events2{
    padding: 50px;
    background: #fff;
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    .event-item-inner{
        display: flex;
        + .event-item-inner{
            margin-top: 22px;
        }
        .event-date{
            margin-right: 30px;
            min-width: 125px;
            border-radius: 10px;
            height: 110px;
            background: #f2f2f2;
            text-align: center;
            display: table;
            span{
                display: block;
            }
            .day{
                font-size: 50px;
                font-weight: 600;
                color: @primary-color;
                margin: 0 0 6px;
                line-height: 40px;
            }
            .month{
                font-size: 20px;
                color: @body-color;
                font-weight: 500;
                text-transform: uppercase;
            }
            .vertical-align{
                display: table-cell;
                vertical-align: middle;
            }
        }
        .event-des{
            .event-title{
                font-weight: 600;
                font-size: 20px;
                margin: 0 0 15px;
                a{
                    color: @title-color;
                }
            }
        }
    }
}

.page-template-events{
    .rs-events-2{
        .rs-vertical-middle{
            display: table;
            width: 100%;
            .col-md-6{
                display: table-cell;
                vertical-align: middle;
                flex: auto;
                width: 50%;
            }
        }
    }
}

body.single-events{
    .event-desc{
        h3{
            margin: 10px 0 16px;
        }
    }
    .course-features-info{
        ul{
            li{
                padding: 12px 0;
            }
        }
        .book-btn{
            text-align: center;
            margin-top: 25px;
            a{
                background: @primary-color;
                color: #fff;
                padding:12px 30px;
                border-radius: 5px;
                &:hover{
                    opacity:.9;
                }
            }
        }
    }
    .event_map{
        margin-top: 50px;
    }
}

.rs-search-courses{
    background: @title-color;    
    border-radius: 5px;
    .rs-search{
        padding: 70px 100px;
        form{
            width: 100%;
            .form-control{
                width: 79%;
                float: left;
                height: 60px;
                padding: 0 15px;
                border-radius: 0;
                margin-right: 30px;
            }
            button{
                height: 60px;
                color: #fff;
            }
        }
    }
}
.search-top{
    margin-top: -200px;
    z-index: 1;
    position: relative;
}
#course-search-top{
    overflow: visible;
    padding-bottom: 0 !important;
}

.woocommerce span.onsale{
    background: @primary-color !important;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    padding: 0 !important;
    right: 10px !important;
    margin: 0 !important;
    top: 10px !important
}

.woocommerce table.shop_attributes td, 
.woocommerce table.shop_attributes th{
    padding: 3px 15px !important;
    border: 1px solid rgba(0,0,0,.1) !important;
}

