/*
Theme Name: Eshkool
Theme URI: http://keenitsolutions.com/products/wordpress/eshkool/
Author: RS Theme
Author URI: http://www.rstheme.com
Description: eshkool | Education WordPress Theme
Version: 3.7
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: eshkool
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/


/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

# Normalize
# Typography
# Elements
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Preloader

--------------------------------------------------------------*/


/*--------------------------------------------------------------

# Normalize

--------------------------------------------------------------*/

article,  aside,  details,  figcaption,  figure,  footer,  header,  main,  menu,  nav,  section,  summary {
	display: block;
}
audio,  canvas,  progress,  video {
	display: inline-block;
	vertical-align: baseline;
}
 audio:not([controls]) {
 display: none;
 height: 0;
}
 [hidden],  template {
 display: none;
}
a {
	background-color: transparent;
}
a:active,  a:hover {
	outline: 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,  strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
h1 {
	
	margin: 0.67em 0;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub,  sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
 svg:not(:root) {
 overflow: hidden;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
}
pre {
	overflow: auto;
}
code,  kbd,  pre,  samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
button,  input,  optgroup,  select,  textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button,  select {
	text-transform: none;
}
button,  html input[type="button"],  input[type="reset"],  input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],  html input[disabled] {
	cursor: default;
}
 button::-moz-focus-inner,  input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"],  input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
 input[type="number"]::-webkit-inner-spin-button,  input[type="number"]::-webkit-outer-spin-button {
 height: auto;
}
 input[type="search"]::-webkit-search-cancel-button,  input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,  th {
	padding:0 0 0 10px;
	border:1px solid #ccc;
}

iframe{
	width: 100%
}

.rs-blog-grid .blog-meta{
	padding-bottom: 12px;
}


.lp-single-course .author-info ul li{
	margin-right: 5px;
}
/*--------------------------------------------------------------

# Typography

--------------------------------------------------------------*/



h1,  h2,  h3,  h4,  h5,  h6 {
	clear: both;
}
p {
	margin-bottom: 1.5em;
}
dfn,  cite,  em,  i {
	font-style: italic;
}
blockquote {
	font-size: 16px;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code,  kbd,  tt,  var {
	font-size: 15px;
}
abbr,  acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark,  ins {	
	text-decoration: none;
}
big {
	font-size: 125%;
}

h1#logo{
	margin: 0 !important;
}

/*--------------------------------------------------------------

# Elements

--------------------------------------------------------------*/

html {
	box-sizing: border-box;
}
*,  *:before,  *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}
body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}
blockquote:before,  blockquote:after,  q:before,  q:after {
	content: "";
}
blockquote,  q {
	quotes: "" "";
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
	padding: 0
}
li > ul,  li > ol {
	margin-bottom: 0;
	margin-left: 1.5em
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}

body.home.blog .main-contain #content{
    padding: 100px 0 70px;
}
/*--------------------------------------------------------------

# Navigation

--------------------------------------------------------------*/

/* ## Menus

--------------------------------------------------------------*/

.main-navigation {
	float: left;
}
.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li.page_item {
	float: left;
	position: relative;
	padding: 0 10px;
}
.main-navigation li.page_item a {
	display: block;
	text-decoration: none;
	line-height: 60px;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,  .main-navigation ul li.focus > ul {
	left: auto;
}
.main-navigation ul ul li:hover > ul,  .main-navigation ul ul li.focus > ul {
	left: 100%;
}

#primary-menu ul {
	list-style: none;
	text-align: right;
}
#primary-menu ul li.page_item {
	display:inline-block;
}
#primary-menu ul li.page_item ul {
	display:none;
}
/* Small menu. */

.menu-toggle,  .main-navigation.toggled ul {
	display: block;
}
 @media screen and (min-width: 37.5em) {
 .menu-toggle {
 display: none;
}
 .main-navigation ul {
 display: block;
}
}
.site-main .comment-navigation,  .site-main .posts-navigation,  .site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.comment-navigation .nav-previous,  .posts-navigation .nav-previous,  .post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next,  .posts-navigation .nav-next,  .post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
/*--------------------------------------------------------------

# Accessibility

--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.search .entry-header h2{
	font-weight: 500;
	margin-bottom: 0;
}
.entry-footer span{
	font-weight: bold;
}
.entry-footer span a{
	font-weight: normal;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
	outline: 0;
}
/*--------------------------------------------------------------

# Alignments

--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*--------------------------------------------------------------

# Clearings

--------------------------------------------------------------*/

.clear:before,  .clear:after,  .entry-content:before,  .entry-content:after,  .comment-content:before,  .comment-content:after,  .site-header:before,  .site-header:after,  .site-content:before,  .site-content:after,  .site-footer:before,  .site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}
.clear-fix, .clear:after,  .entry-content:after,  .comment-content:after,  .site-header:after,  .site-content:after,  .site-footer:after {
	clear: both;
}
/*--------------------------------------------------------------

# Widgets

--------------------------------------------------------------*/

.widget {
	margin: 0 0 2.5em;
}
/* Make sure select elements fit in widgets. */

.widget select {
	max-width: 100%;
	width:100%;
	padding: 6px 8px
}
/*-------------------------------------------------------------

price-style

--------------------------------------------------------------*/

.price-style3,  .cl-pricetable-wrap {
	padding-bottom: 0px !important
}
.style1 .cl-pricetable-wrap {
	padding-bottom: 40px !important
}
.page_title_single h3 {
	padding-top: 70px;
}
/*--------------------------------------------------------------

# Content

--------------------------------------------------------------*/

/*--------------------------------------------------------------

## Posts and pages

--------------------------------------------------------------*/

.sticky {
	display: block;
}
.rs-about .about-exp .exp-desc {
	color: #666;
}
 .updated:not(.published) {
 display: none;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
span.author {
	text-transform: capitalize;
	margin-left: 20px;
}

.archive .page-header {
	margin-bottom: 35px;
}
.archive-post {
	padding-bottom: 36px;
	border-bottom: 1px solid #f1f1f1;
	padding-left: 0;
}


.archive-post h3.blog-title {
	margin-bottom: 7px;
	font-size: 20px !important;

}
.archive-post .blog-meta {
	padding-bottom: 15px;
}
.page .bs-sidebar {
	padding:92px 0;
}
.fbc-page .fbc-wrap .fbc-items {
	background: rgba(0, 0, 0, 0.5) !important
}
.fbc-page .fbc-wrap .fbc-items li a {
	color: #4caf50 !important
}
.fbc-items li.active span {
	color: #fff !important
}
.search .page-title {	
	padding-bottom:20px;
	margin-bottom:0px;
}

.search .entry-header h2{	
	font-size: 22px !important
}
.search .pagination-area{
	padding-top: 0;
}
.search article{
	margin-bottom: 42px;
}
.sticky_form {
	display:none
}

body.search article{
	padding-bottom: 50px;
	border-bottom: 1px solid #eee;
}
body.search article:last-child{
	padding-bottom: 0;
	border-bottom: none;
}

body.search .entry-footer{
	margin-top: 20px;
	padding: 10px 0px;
}

body.search article h3.entry-title{
	margin-bottom: 15px;
}

.show-featured .post-img{
	width: 90px;
	float: left;
	padding-right: 10px;
}

.bs-sidebar .recent-post-widget .show-featured .post-desc{
	padding:0;
}


/*--------------------------------------------------------------

## Comments

--------------------------------------------------------------*/

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
/*--------------------------------------------------------------

# Infinite scroll

--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */  .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
	display: block;
}
/*--------------------------------------------------------------

# Media

--------------------------------------------------------------*/

.page-content .wp-smiley,  .entry-content .wp-smiley,  .comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers. */

embed,  iframe,  object {
	max-width: 100%;
}
/* Make sure logo link wraps around logo image. */

.custom-logo-link {
	display: inline-block;
}
/*--------------------------------------------------------------

## Captions

--------------------------------------------------------------*/

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
 .wp-caption img[class*="wp-image-"] {
 display: block;
 margin-left: auto;
 margin-right: auto;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.wp-caption-text {
	text-align: center;
}
/*--------------------------------------------------------------

## Galleries

--------------------------------------------------------------*/

.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33333%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66667%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28571%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11111%;
}
.gallery-caption {
	display: block;
}
.tab-text {
	display: none;
}
.rs-testimonial .testi-item:hover .testi-img:before {
	width: 80%;
	height: 80%;
	opacity: 0;
}
.testi-item {
	position: relative;
}
.testi-img:before {
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.testi-item.slick-current {
	opacity: 1;
}

.header-styl-5 .bs-search input{
	width:60%;
	float:right;
}

#map iframe{
	height: 800px;
	border: none;
	width: 100%;
}

/* ------------------------------------
24. Preloader CSS
---------------------------------------*/
#loading {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
  z-index: 9999999;
}
#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
.object {
  width: 20px;
  height: 20px;
  background-color: #444;
  float: left;
  margin-right: 20px;
  margin-top: 65px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
#object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
}
#object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
#object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-webkit-keyframes object_one {
  75% {
    -webkit-transform: scale(0);
  }
}
@keyframes object_one {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes object_two {
  75% {
    -webkit-transform: scale(0);
  }
}
@keyframes object_two {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes object_three {
  75% {
    -webkit-transform: scale(0);
  }
}
@keyframes object_three {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #4caf50;
  z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.3s 1s ease-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.rs-blog-grid .blog-item .full-blog-content{
	padding-top: 15px;
}
.rs-list-view .rs-courses-3 .course-item .course-img .price-inner{
	bottom: 15px;
}

.wp-block-cover-image .wp-block-cover__inner-container, 
.wp-block-cover .wp-block-cover__inner-container {
    width: calc(100% - 70px);
    z-index: 1;
    color: #fff;
    line-height: 1.2;
}
.wp-block-cover__inner-container a,
.wp-block-cover p:not(.has-text-color){
	color: #fff;
}
.wp-block-button{
	margin-bottom: 20px;
}

#rs-header.header-style2 .menu_one {
	height:60px;
}

@media (max-width:812px){
	.menu_one .justify-content-between .col-xs-2{
		bottom:2px;
	}
	#rev_slider_13_1_forcefullwidth{
		margin-top:30px !important;
	}
	.entry-content{
		margin-top:-80px;
	}


	
	
rs-arrow.tp-leftarrow.tparrows.zeus {
    min-width: 10px !important;
    min-height: 10px !important;
    width:40px !important;
    height:40px !important;
    top:70% !important;

}

rs-arrow.tp-rightarrow.tparrows.zeus {
    min-width: 10px !important;
    min-height: 10px !important;
    width:40px !important;
    height:40px !important;
    top:70% !important;
}



#rev_slider_13_1_wrapper .zeus.tparrows:before {
	font-size:12px;
	line-height:46px !important;
}

	
}


.rs-courses-3 .course-item .course-img img{
	height:150px;
	width:auto
}
.rs-courses-3 .course-item .course-img{
	text-align:center;
}
.rs-courses-3 .course-item .course-body .course-title-archive {
	line-height:20px;
}
.rs-courses-3 .course-item .course-body .course-desc {
	padding:10px;
}

#rs-footer .footer-top h3.footer-title {
	color:#000000;
}

#rs-footer .footer-top a, #rs-footer .footer-top p {
	color:#000;
}

#rs-footer .widget ul li a {
	color:#000;
}

.footer-bottom .copyright p {
	color:#000;
}






/**CUSTOM MOBILE**/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 
  
/* CSS KODLARI BURAYA */

#rs-header.header-style2 .sticky_search .rs-search {
    height: 60px !important;
}

.menu_one .justify-content-between .col-xs-2{
	margin-left: 290px;
	width: 60px;
	top: -1px;
	height: 60px !important;
}

.menu_one .justify-content-between .col-xs-2 .sticky_search{
	height: 56px !important;
}
/*
rs-fullwidth-wrap, rs-module-wrap, rs-module, rs-static-layers, rs-slides, rs-slide, rs-sbg-px, rs-sbg-wrap, rs-sbg{
	height:200px !important;
} 

rs-sbg{
	background-position:5% 50% !important;
}
*/
.about-widget{
	margin-left:15px
}
.ustRowCatalogs {
	margin-left:-15px !important;
	margin-right:-15px !important;
}

.vc_column-inner .wpb_wrapper .contactFormRow form{
	margin-left:-82px;
}




 
}
  
/* Smartphones (landscape) ----------- */
 
@media only screen and (min-width : 321px) {
 
/* CSS KODLARI BURAYA */




}
/* Smartphones (portrait) ----------- */
 
@media only screen and (max-width : 320px) {
 
 
/* CSS KODLARI BURAYA */

#rs-header.header-style2 .sticky_search .rs-search {
    height: 61px !important;
}

 
}
/* iPads (portrait and landscape) ----------- */
 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* CSS KODLARI BURAYA */
 
}
 
/* iPads (landscape) ----------- */
 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
 
/* CSS KODLARI BURAYA */
 
}
/* iPads (portrait) ----------- */
 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
 
/* CSS KODLARI BURAYA */
 
}
/* Desktops and laptops ----------- */
 
@media only screen and (min-width : 1224px) {
/* CSS KODLARI BURAYA */
 
}
/* Large screens ----------- */
 
@media only screen and (min-width : 1824px) {
  
/* CSS KODLARI BURAYA */
}
  
/* iPhone 5 (portrait & landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  
/* CSS KODLARI BURAYA */
}
  
/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  
/* CSS KODLARI BURAYA */
}
  
/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  
/* CSS KODLARI BURAYA */
} 

